= simple_form_for @event, remote: true do |f|
  = f.input :name
  = f.input :description, as: :text, input_html: { rows: 4, cols: 30 }
  = f.input :start,  as: :datetimepicker
  = f.input :finish, as: :datetimepicker
  = f.input :all_day, as: :boolean, label: 'All Day'

  .modal-footer
    %span#hidden-delete{style: 'display:none;'}
      = link_to @event, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' }, id: 'destroy' do
        %button.btn.btn-sm.btn-danger
          %i.fa.fa-exclamation
          Delete
    %span.submit-right= f.button :submit, 'Submit'

:coffeescript
  $ ->
    $('.datetimepicker10').datetimepicker
      useCurrent: false
      useSeconds: false
